<!-- <div class="animated bounce">My BOUNCY DIV</div> -->
<div class="row grid">
  <div class="medium-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img>
        <div class="hidden"></div>
        </a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="images/cake.png" alt=""></img></a>
      </li>
    </ul>
  </div>
</div>
