<div class="row grid">
  <div class="medium-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
      <li>
        <a data-reveal-id="closeUp"><img src="http://www.placehold.it/400x400" alt=""></img></a>
      </li>
    </ul>
  </div>
</div>
