#main {
  margin: 1em;
}
#navText {
  color: white;
}

img.grayscale{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

img.grayscale:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
