<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samantha Degges - Full Stack Developer</title>
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- BACKUP CDNS -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script> -->
    <!-- <script src="http://code.angularjs.org/1.2.13/angular.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script> -->
  </head>
  <body ng-app = "app">

  <!-- <div class="panel"> -->
    <div class="contain-to-grid" id="navText">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"><a ui-sref="portfolio"><h1>Samantha Degges</h1></a></li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="inline-list right">
          <li class="active"><a ui-sref="portfolio">Portfolio</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a data-reveal-id="contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div id = "main">
      <ui-view></ui-view>
    </div>

      <!-- MODALS-->
      <div id="closeUp" class="reveal-modal" data-reveal aria-labelledby="This is a featured project." aria-hidden="true" role="dialog">
        <ul ng-repeat="project in projects">
          <h2 ng-repeat = "project in projects" id="modalTitle">{{project.title}}</h2>
          <li><img src="images/cake.png" alt=""></li>
          <li id = "tools" ng-repeat = "project in projects" class="lead">
            <strong>Tools Used:</strong>
            <a href="{{project.tools.link}}">{{project.tools}}</a>
          </li>
          <li id = "description" ng-repeat = "project in projects">{{project.description}}</li>
          <li id="stats" ng-repeat="project in projects">{{project.stats.date}}|{{project.stats.collaborators}}</li>



        </ul>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <div id="contact" class="reveal-modal text-center" data-reveal aria-labelledby="Contact Me" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Say Hi.</h2>
        <p class="lead">If it's something formal, I prefer email.</p>
        <p>You can write me at samanthadegges(at)gmail(dot)com <br> or click below to start.</p><br>
        <a href="mailto:samanthadegges@gmail.com?"><img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg" alt=""></a></a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <!--FOOTER-->
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-12 columns">
              <ul class="inline-list right">
                <li><a href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-linkedin.svg" alt=""></a></li>
                <li><a href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-github.svg"></a></li>
                <li><a href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-tumblr.svg"></a></li>
                <li><a href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-twitter.svg"></a></li>
                <li><a href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-stack-overflow.svg"></a></li>
              </ul>
              <div class="large-12 columns" id="footer">
                <p>© Copyright 2015 Samantha Degges</p>
              </div>
            </div>
          </div>
        </div>
      </footer>


    <!-- <div class="panel callout"> -->
    <!-- <header class="panel callout">
      <div class="row">
        <ul class="inline-list right">
          <li>About</li>
          <li>Contact</li>
          <li>Resume</li>
          <li>Projects</li>
        </ul>
        <h4>Samantha Degges</h4>
        <div class="row"></div>
      </div>

    </header>
    <row>
      <ul class="contact inline-list right">
        <li>stackOverflow</li>
        <li>Twitter</li>
        <li>Github</li>
        <li>Tumblr</li>
      </ul>
    </row> -->



    <!-- <div class="panel">
      <row>
        <div class="medium-12 columns">
          <div class="card medium-4 columns text-center">
            <img src="http://www.placehold.it/400x300" alt="">
            <h5>title</h5>
            <small>subtitle</small>
            <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A pariatur in eos iure, quo est.
          </div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </row>
    </div> -->

    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
  </body>
</html>
